* {
 font-family: "Courier Prime", sans-serif;
}

#map {
  height: 200px;
  width: 100vw;
  position: absolute;
  border-bottom: 3px solid orange;
  top: 0;
  left: 0;
}

.source {
  font-size: 9pt;
  font-style: italic;
  color: #333;
}
a.source:visited {
  color: grey;
}

.description {
  margin: 20px;
  text-align: left;
  font-size: 11pt;
  padding: 20px;
}

.in-focus {
  opacity: 1.0;
}

.out-focus {
  opacity: 0.3;
}

.leaflet-control-attribution {
  visibility: hidden;
}

.leaflet-marker-icon {
  opacity: 0.75;
}

/*
  By default, current (active) marker is orange.
  If you want to change the color, see options here: https://github.com/coryasilva/Leaflet.ExtraMarkers/blob/master/src/assets/css/leaflet.extra-markers.css
*/


/* Storymap logo image above the title */
#logo {
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 10px;
  max-width: 100%;
}

#logo img {
  max-height: 100%;
  max-width: 100%;
  vertical-align: middle;
}

#header {
  padding: 5px 0;
  text-align: center;
  color: #333;
}

/* Storymap title & subtitle */
